* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2 {
    font-weight: 800;
}
h1 {
    font-size: 65px;
    line-height: 1.1;
    color: #603009;
    margin-top: 0;
    margin-bottom: 48px;
}
.page-guitar .accented {
    color: #f3e349;   
}
.page-piano .accented {
    color: #cee339;   
}
h2 {
    font-size: 40px;
    line-height: 54px;
    text-align: center;
    text-transform: uppercase;
    color: #40230e;
}
a {
    text-decoration: none;
    transition: all .3s ease;
}
p {
    font-size: 18px;
    line-height: 1.5;
    color: #40230e;
}
ul li {
    list-style: none;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
section,
section.container {
    margin-bottom: 170px;
}
.menu {
    display: flex;
}
.menu .item {
    font-size: 18px;
    position: relative;
}
.menu .item:hover::before {
    content: '';
    position: absolute;
    height: 3px;
    top: 100%;
    transition: background .3s ease;
}

.btn,
.btn-small {
    border-radius: 41px;
    color: #fff;
    text-transform: uppercase;
    transition: all .3s ease;
    cursor: pointer;
    border: none;
    font-size: 16px;
    font-weight: 800;
    white-space: nowrap;
}
.btn {
    height: 70px;
    padding: 0 42px;
    background: linear-gradient(180deg, #F88F6A 0%, #DF6D45 100%), #F18D6A;
    box-shadow: 0px 7px 30px rgba(243, 156, 126, 0.25);
}
.btn:hover  {
    background: linear-gradient(180deg, #FBA78A 0%, #EA805B 100%), #F18D6A;
    box-shadow: 0px 7px 30px rgba(220, 161, 140, 0.5);
}
.btn:focus {
    box-shadow: 0px 4px 9px rgba(220, 161, 140, 0.25);
}
.btn-small {
    height: 54px;
    padding: 0 38px;
    background: linear-gradient(180deg, rgba(169, 207, 231, 0.2) 0%, rgba(22, 64, 91, 0.2) 100%), #8cb5e2;
    box-shadow: 0px 17px 48px rgba(46, 113, 153, 0.25);
}
.btn-small:hover {
    background: linear-gradient(180deg, rgba(169, 207, 231, 0.2) 0%, rgba(22, 64, 91, 0.2) 100%), #A4C8F0;
}
.btn-small:focus {
    background: linear-gradient(180deg, rgba(169, 207, 231, 0.2) 0%, rgba(22, 64, 91, 0.2) 100%), #A4C8F0;
    box-shadow: 0px 4px 9px rgba(46, 113, 153, 0.25);
}
.cards {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    justify-content: center;
    margin: 0 -10px;
}
.cards .item {
    background: #fff;
    box-shadow: 0px 17px 48px rgba(46, 113, 153, 0.25);
    border-radius: 30px;
    max-width: 31%;
    margin: 0 1%;
}
.page-piano .teachers .cards .item {
    max-width: 100%;
    margin: 0;
}
.video-wrapper {
    position: relative;
    cursor: pointer;
}
.video {
    background-color: #8cb5e2;
    display: block;
}
/* onclick display none */
.video-wrapper::before,
.video-wrapper::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.video-wrapper.play::before,
.video-wrapper.play::after {
    display: none;
}
.video-wrapper::before {
    background-image: url(../images/video-play.svg);
    background-repeat: no-repeat;
    width: 25px;
    height: 29px;
    z-index: 1;
    left: 50.5%;
}
.video-wrapper::after {
    width: 90px;
    height: 90px;
    background: linear-gradient(0deg, #8BB3E0, #8BB3E0), #8cb5e2;
    opacity: 0.9;
    z-index: 0;
    border-radius: 100%;
    transition: opacity .3s ease;
}
.video-wrapper:hover::after {
    opacity: 1;
}
.video-wrapper:focus::after {
    background: #709bcb;

}
/* onclick bg-color: background: #709BCB; */

.slick-arrow {
    position: absolute;
	box-shadow: 0px 17px 48px rgba(46, 113, 153, 0.25);
	width: 63px;
	height: 63px;
	background-color: #fefefd;
	border: none;
	border-radius: 100%;
	z-index: 1;
    cursor: pointer;
	font-size: 0;
    transition: all .3s ease;
}
.slick-arrow:hover,
.slick-arrow:focus {
	box-shadow: 0px 6px 6px rgba(131, 177, 205, 0.25);
}
.slick-arrow::before {
    content: '';
    background-image: url(../images/icon-arrow.svg);
    width: 17px;
    height: 29px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.slick-next::before {
    transform: translate(-50%, -50%) rotate(180deg);
}
.icon {
    height: 20px;
    width: 21px;
}


/* header */

.header {
    display: flex;
    justify-content: space-between;
    padding: 50px 15px;
    align-items: center;
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
}
.header .logo {
    display: block;
    width: 185px;
    height: 52px;
}
.header .logo-img {
    width: 185px;
    height: 52px;
}
.header-wrapper {
    display: flex;
    align-items: center;
}
.header .menu .item {
    color: #603009;
    margin: 0 4px;
    padding: 6px 16px;
    font-size: 18px;
    position: relative;
}
.header .menu .item.active {
    background: linear-gradient(0deg, #A6CEE6, #A6CEE6), #8cb5e2;
    border-radius: 30px;
    border: none;
}
.header .menu .item:hover::before {
    background-color: #603009;
    left: 16px;
    right: 16px;
}
.header .menu .item.active:hover::before {
    background-color: transparent;
}
.header .links a {
    margin-left: 36px;
}
.header .icon {
    fill: #603009;
    transition: all .3s ease;
    transform: scale(1);
}
.header .icon:hover {
    transform: scale(1.2);
}

/* banner */

.banner {
    height: 100vh;
    background-repeat: no-repeat;
    background-position: right;
    position: relative;
    z-index: 0;
    min-height: 720px;
    margin-bottom: 0;
}
.page-guitar .banner {
    background-image: url(../images/banner-guitar.png);
}
.page-piano .banner {
    background-image: url(../images/banner-piano.png);
}
.banner .wrapper {
    width: 60%;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}
.banner-btn {
    position: relative;
}
.banner-btn::before {
    content: '';
    position: absolute;
    display: block;
    right: -89px;
    bottom: 28px;
    background-image: url(../images/banner__arrow.svg);
    background-repeat: no-repeat;
    width: 69px;
    height: 82px;
}
.banner .subtitle {
    font-size: 25px;
    line-height: 34px;
    color: #603009;
    margin-bottom: 54px;
}

/* lessons */

.lessons {
    box-shadow: 0px 17px 48px rgba(46, 113, 153, 0.25);
    border-radius: 30px;
    padding: 60px 45px 60px 95px;
}
.lessons .title {
    margin-bottom: 52px;
}
.lessons .cols {
    display: flex;
}
.lessons .text {
    margin-bottom: 38px;
}
.lessons .right {
    width: 450px;
    padding-left: 30px;
    flex-shrink: 0;
}
.lessons .video {
    border-radius: 30px;
    width: 100%;
}

/* advantages */

.advantages.container {
    margin-bottom: 60px;
}
.advantages .title {
    margin-bottom: 142px;
}
.advantages .item {
    position: relative;
    max-width: 30%;
    padding: 30px;
    margin: 0 1.65%;
    margin-bottom: 110px;
    display: flex;
    align-items: center;
}
.advantages .item .number {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 67px;
    line-height: 95px;
    border-radius: 50%;
    width: 95px;
    height: 95px;
    text-align: center;
    z-index: 1;
    margin: 0;
}
.page-guitar .advantages .item .number {
    background: #f0e24a;
}
.page-piano .advantages .item .number {
    background: #cee339;
}
.advantages .item .text {
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
}

/* price */

.price.container {
    margin-bottom: 130px;
}
.price .title {
    margin-bottom: 60px;
}
.price .cards {
    margin-bottom: 40px;
}
.price .item {
    /* width: 33%; */
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 30px 24px 56px 52px;
    overflow: hidden;
    z-index: 1;
}
.price .item::before {
    content: '';
    position: absolute;
    display: block;
    width: 532px;
    height: 532px;
    background-repeat: no-repeat;
    top: -92%;
    z-index: -1;
    border-radius: 100%;
    left: 50%;
    transform: translateX(-50%);
}
.page-guitar .price .item::before {
    background-color: #f0e24a;
}
.page-piano .price .item::before {
    background-color: #cee339;
}
 
.price .item.accented::before {
    background-color: #fDB49A;
}
.price .item:first-of-type::before {
    left: -50%;
    transform: none;
}
.price .item:last-of-type::before {
    right: -50%;
    left: auto;
    transform: none;
}
.price .item .title {
    text-align: center;
    font-size: 20px;
    line-height: 27px;
    text-transform: uppercase;
    color: #40230e;
    margin-bottom: 25px;
    width: 100%;
}
.price .price-item-list {
    /* change class name */
    margin-bottom: 10px;
    width: 100%;
}
.price .price-item-list li {
    /* add class name */
    margin-bottom: 18px;
    font-size: 25px;
    line-height: 34px;
    color: #40230e;
}
.price .cost-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.price .cost {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #5d3110;
}
.price .btn {
    margin: 0 auto;
    display: block;
}

/* action */

.action .title {
    margin-bottom: 60px;
}
.action .cols {
    display: flex;
    box-shadow: 0px 17px 48px rgba(46, 113, 153, 0.25);
    border-radius: 30px;
}
.action .left,
.action .right {
    width: 50%;
}
.action .left {
    padding: 55px 45px 152px 70px;
    position: relative;
}
.action .right {
    background-image: url(../images/action__img.png);
    border-radius: inherit;
    background-size: cover;
}

.action .btn {
    position: absolute;
    left: 70px;
    bottom: 45px;
}

/* about-us */
.about-us.container {
    margin-bottom: 110px;
}
.about-us .cols {
    display: flex;
}
.about-us .left,
.about-us .right {
    width: 50%;
}
.about-us .right {
    padding-left: 45px;
}
.about-us img {
    /* add class name */
    object-fit: contain;
    filter: drop-shadow(0px 17px 48px rgba(46, 113, 153, 0.25));
    border-radius: 30px;
    height: 100%;
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}
.about-us .slider {
	position: relative;
}
.about-us .slider .slick-arrow {
	top: 50%;
	transform: translateY(-50%);
}
.about-us .slider .slick-prev {
	left: 60px;
}
.about-us .slider .slick-next {
	right: 60px;
} 
.about-us .slider .slide {
    height: auto;
    padding: 40px 28px 60px;
}
.about-us .slider .slide-wrapper {
    box-shadow: 0px 17px 48px rgba(46, 113, 153, 0.25);
    border-radius: 30px;
    padding: 60px;
}
.about-us .slider .title {
    margin-bottom: 50px;
}
.about-us .menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    background-color: red;
    left: 0;
    top: 0;
}

/* results */

.results .title {
    margin-bottom: 60px;
}
.results .slider,
.page-piano .teachers .slider {
	padding-bottom: 80px;
}
.page-piano .teachers .slider {
    width: 100vw;
    margin: 0;
}
.results .slick-arrow,
.page-piano .teachers .slick-arrow {
    bottom: 0;
}
.results .slick-prev,
.page-piano .teachers .slick-prev {
    left: calc(50% + 449px);
}
.results .slick-next,
.page-piano .teachers .slick-next {
    left: calc(50% + 537px);
}
.results .item,
.page-piano .teachers .item-wrapper {
    padding: 0 20px;
	height: auto;
}
.page-piano .slick-track {
    padding: 80px 0;
}
.results video {
	max-width: 100%;
}
.results .video-wrapper {
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 30px;
}
.results .description {
    text-align: center;
    font-size: 25px;
    line-height: 34px;
    color: #40230e;
}

/* teachers */

.teachers.container {
    margin-bottom: 224px;
}
.teachers .title {
    margin-bottom: 116px;
}
.page-piano .teachers .title {
    margin-bottom: 36px;
}
.teachers .image-wrapper {
    /* add class name */
    background-color: #a6cee6;
    height: 280px;
    position: relative;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.teachers .teachers-img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
}
.page-piano .teachers .teachers-img {
    height: 360px;
    object-fit: cover;
}
.teachers .text-wrapper {
    padding: 20px 44px 28px;
}
.teachers .cards .subtitle {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.5;
    color: #40230e;
    margin-bottom: 20px;
    text-align: center;
}
.teachers ul li {
    /* add class name */
    position: relative;
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
    color: #40230e;
}
.teachers ul li+li {
    /* add class name */
    margin-top: 20px;
}
.teachers ul li+li::before {
    content: '';
    display: block;
    border: 5px solid #40230e;
    border-radius: 100%;
    width: 0;
    height: 0;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -15px;
}
.page-piano .teachers .subtitle {
    color: #603009;
}
.teachers .text-row {
    display: flex;
    margin-bottom: 16px;
    line-height: 1.3;
    color: #603009;
}
.teachers .text-row span {
    margin-right: 4px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #603009;
}
.teachers .text-row p {
    font-size: 16px;
    color: #603009;
}
/* form */

.form {
    box-shadow: 0px 17px 48px rgba(46, 113, 153, 0.25);
    border-radius: 30px;
    padding: 47px 112px 56px 47px;
    position: relative;
}
.page-guitar .form {
    background: linear-gradient(0deg, #F0E24A, #F0E24A), #8CBE22;
}
.page-piano .form {
    background: linear-gradient(0deg, #cee339, #cee339), #8CBE22;
}
.popup-form .title,
.form .title {
    margin-bottom: 20px;
}
.form::before {
    content: '';
    position: absolute;
    bottom: 0;
}
.page-guitar .form::before {
    background-image: url(../images/form-guitar.png);
    width: 436px;
    height: 555px;
    left: 88px;
}
.page-piano .form::before {
    background-image: url(../images/form-piano.png);
    width: 515px;
    height: 561px;
    left: 0;
}

.popup-form,
.form {
    position: relative;
}
.form .content {
    margin-left: 45%;
}
.popup-form .text,
.form .text {
    margin-bottom: 24px;
}
.popup-form .label,
.form label {
    display: inline-block;
    margin-bottom: 34px;
    position: relative;
}
.popup-form .form-row,
.form .form-row {
    position: relative;
}
.popup-form .checkbox-input, 
.form .checkbox-input {
    position: absolute;
    opacity: 0;
    width: 14px;
    height: 16px;
    top: 4px;
    left: 0;
}
.popup-form .checkbox-label,
.form .checkbox-label {
    position: relative;
    padding-left: 24px;
}
.popup-form .checkbox-label::before,
.form .checkbox-label::before {
    content: '';
    width: 12px;
    height: 14px;
    border: 1px solid #603009;
    border-radius: 2px;
    position: absolute;
    top: 4px;
    left: 0;
}
.popup-form .checkbox-input:checked +.checkbox-label::before,
.form .checkbox-input:checked +.checkbox-label::before {
    background-image: url(../images/icon-checked.svg);
    background-position: center;
    background-repeat: no-repeat;
}
.form label + label {
    margin-left: 20px;
}
.popup-form input,
.form input {
    width: 240px;
    border-radius: 10px;
    height: 45px;
    text-align: center;
    border: none;
}
.popup-form .checkbox,
.form .checkbox {
    font-size: 14px;
    line-height: 1.5;
    color: #5d3110;
}
.popup-form .checkbox input,
.form .checkbox input {
    border: 1px solid #5d3110;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: transparent;
    width: 14px;
    height: 14px;
    margin-right: 14px;
}
.form .btn-small {
    display: block;
    margin: 0 auto 20px;
}
.popup-form .error,
.form .error {
    font-size: 12px;
    line-height: 1.5;
    color: #40230E;
    position: absolute;
    left: 0;
    top: 100%;
}

/* about-schools */

.about-schools .cards {
    margin-bottom: 60px;
    justify-content: space-between;
}
.about-schools .title {
    margin-bottom: 48px;
}
.about-schools .text {
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    color: #000;
    max-width: 970px;
    margin: 0 auto 34px;
}
.about-schools .text-first {
    margin-bottom:  108px;
}
.about-schools .item {
    width: 25%;
    width: calc(25% - 36px);
    position: relative;
    padding: 146px 20px 42px;
    color: #603009;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.about-schools img {
    /* add class name */
    width: 140px;
    height: 140px;
    border-radius: 100%;
    position: absolute;
    top: -34px;
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
}
.about-schools .subtitle {
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
}
.about-schools .btn {
    display: block;
    margin: 0 auto;
}

/* contacts */
.contacts.container {
    margin-bottom: 100px;
}
.contacts .title {
    margin-bottom: 34px;
}
.contacts .wrapper {
    display: flex;
    justify-content: space-between;
}
.contacts .left,
.contacts .right {
    box-shadow: 0px 17px 48px rgba(46, 113, 153, 0.25);
    border-radius: 30px;
}
.contacts .left {
    width: 35%;
    padding: 30px 20px 25px 28px;
}
.contacts .left .left-row {
    padding-left: 28px;
    position: relative;
    margin-bottom: 15px;
}
.contacts .right {
    width: 62%;
    padding: 20px;
}
.contacts .link {
    display: block;
    font-size: 18px;
    line-height: 1.5;
    color: #40230e;
}
.contacts .link:hover {
    color: #8cb5e2;
}
.contacts .map {
    border-radius: 30px;
    overflow: hidden;
    min-height: 200px;
}
.contacts .icon {
    fill: #603009;
    position: absolute;
    left: 0;
    top: 5px;
    width: 21px;
    height: 20px;
}

/* footer */

.footer {
    background: #40230e;
    color: #fff;
}
.footer .container > .logo {
    display: none;
}
.footer .menu {
    padding: 50px 0;
    justify-content: space-between;
    font-size: 18px;
    line-height: 1.5;
}
.footer .menu .item {
    color: #fff;;
}
.footer .menu .item:hover::before {
    left: 0;
    right: 0;
}
.footer .menu .item:hover::before {
    background-color: #fff;
}
.footer-middle {
    display: flex;
    justify-content: space-between;
}
.footer .subtitle {
    font-weight: normal;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 10px;
}
.footer .social a {
    margin-right: 30px;
}
.footer .footer-middle .link {
    display: block;
    margin-bottom: 6px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.footer .link:hover {
    color: #8cb5e2;
}
.footer .link img {
    margin-right: 12px;
    fill: #fff;
}
.footer .phone {
    margin-bottom: 4px;
    width: 100%;
}
.footer-bottom {
    padding: 26px 0 36px;
    display: flex;
}
.footer .left {
    width: 45%;
    padding-right: 20px;
}
.footer .links {
    margin-bottom: 10px;
}
.footer .links a {
    margin-right: 20px;
    color: #fff;
}
.footer .right {
    width: 55%;
}
.footer .copyright,
.footer .text {
    color: #fff;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.2;
}
.footer .icon {
    fill: #fff;
    margin-right: 14px;
}


/* popup form */

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 90px 80px 100px;
    box-shadow: 0px 17px 48px rgba(46, 113, 153, 0.25);
    border-radius: 30px;
    background-color: #fff;
    width: 80%;
    overflow: hidden;
}
.popup::before {
    content: '';
    position: absolute;
    background-image: url(../images/form__decor.svg);
    background-repeat: no-repeat;
    width: 50%;
    right: -2%;
    top: -18%;
    bottom: -15%;
    transform: rotate(2deg);
    z-index: -1;
    background-size: 120%;
}
.popup-form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    align-items: center;
}
.popup .title {
    margin: 0 auto 52px;
    font-weight: 800;
    font-size: 23px;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    color: #40230E;
    max-width: 600px;
}
.popup label {
    width: 100%;
    margin-bottom: 20px;
}
.popup input {
    border: 1px solid #603009;
    border-radius: 30px;
    width: 100%;
    background: transparent;
}
.popup label:last-of-type {
    margin-bottom: 50px;
}
.popup .btn {
    width: 306px;
    margin-bottom: 20px;
}


/* adaptive  */

/* Landscape tablets and medium desktops */
@media (max-width: 1199px) {
    .container {
        max-width: 100%;
    }
    .header .menu-btn {
        display: none;
    }
    .header .menu-btn .line {
        background-color: #603009;
        width: 30px;
        height: 4px;
        position: relative;
        border-radius: 30px;
    }
    .header .menu-btn .line::before,
    .header .menu-btn .line::after {
        content: '';
        background-color: #603009;
        width: 30px;
        height: 4px;
        position: absolute;
        left: 0;
        border-radius: 30px;
    }
    .header .menu-btn .line::before {
        bottom: -10px;
    }
    .header .menu-btn .line::after {
        bottom: -20px;
    }


    .header .menu .item {
        padding: 6px 14px;
    }
    .header .links a {
        margin-left: 16px;
    }
    .banner {
        background-position-x: 350px;
        height: auto;
    }
    .price .item {
        max-width: 48%;
        margin-bottom: 60px;
    }
    .lessons,
    .form {
        margin-left: 15px;
        margin-right: 15px;
    }
    .form.form-guitar::before {
        left: 0;
    }
    .popup-form label,
    .popup-form input,
    .form label,
    .form input {
        width: 100%;
    }
    .popup-form label + label,
    .form label + label {
        margin-left: 0;
    }
    .results .slick-arrow,
    .page-piano .teachers .slick-arrow {
        transform: translateX(-50%);
    }
    .results .slick-prev,
    .page-piano .teachers .slick-prev {
        left: calc(50% - 76px);
    }
    .results .slick-next,
    .page-piano .teachers .slick-next {
        left: calc(50% + 76px);
    }
    .popup::before {
        background-size: cover;
        top: -5%;
        bottom: -5%;
    }
}

/* Portrait tablets and small desktops */
@media (max-width: 991px) {
    h1 {
        font-size: 58px;
        margin-bottom: 40px;
    }
    section,
    section.container,
    .teachers.container {
        margin-bottom: 80px;
    }
    .header {
        flex-direction: column;
    }
    .header .logo {
        margin-bottom: 20px;
    }
    .header .menu .item {
        padding: 6px 12px;
    }
    .header .links a {
        margin-left: 12px;
    }
    .banner {
        background-position-x: right;
        background-size: 60%;
    }
    .banner .wrapper {
        top: 60%;
    }
    h1 .accented {
        color: #603009;
    }
    .price .cost-wrapper {
        flex-direction: column;
    }
    .price .cost {
        margin-bottom: 20px;
    }
    .price .item {
        padding: 40px 20px;
    }
    .lessons .cols {
        flex-direction: column;
    }
    .lessons .btn {
        margin: 0 auto;
        display: block;
    }
    .lessons .left {
        order: 2;
    }
    .lessons .right {
        width: 100%;
        padding: 0;
        order: 1;
        margin-bottom: 40px;
    }
    .advantages .item {
        max-width: 46%;
    }
    .teachers .cards .item {
        max-width: 50%;
        margin-bottom: 100px;
    }
    .results .item {
        max-width: 48%;
        margin-bottom: 100px;    
    }
    .form.form-guitar {
        padding-right: 56px;
    }
    .form.form-guitar::before {
        z-index: 0;
    }
    .form .content {
        position: relative;
    }
    .about-schools .item {
        width: 48%;
        max-width: 48%;
        margin-bottom: 60px;
    }
    .about-schools .cards {
        margin-bottom: 0;
    }
    .contacts .wrapper {
        flex-direction: column;
    }
    .contacts .left,
    .contacts .right {
        width: 100%;
    }
    .contacts .left {
        margin-bottom: 40px;
    }
    .footer .menu {
        flex-wrap: wrap;
    }
    .footer .menu .item {
        width: 25%;
        margin-bottom: 20px;
    }
    .footer .menu .item:hover {
        color: #8cb5e2;
    }
    .footer .menu .item:hover::before {
        background: transparent;
    }
    .price .item {
        max-width: 50%;
        margin-bottom: 60px;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .header {
        background-color: #fdfdfd;
        flex-direction: row;
        position: fixed;
        padding: 20px 15px 20px;
    }
    .header .menu-btn {
        display: block;
        cursor: pointer;
        height: 24px;
        width: 32px;
        position: relative;
    }
    .header-wrapper {
        display: none;
        background-color: #fdfdfd;
        left: 0;
        right: 0;
        flex-direction: column;
        position: fixed;
        top: 36px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        padding: 15px;
        box-shadow: 0px 17px 48px rgba(46, 113, 153, 0.25);
    }
    .header-wrapper.open {
        display: block;
		top: 90px;
	}
    .header-wrapper .links {
        display: flex;
        justify-content: center;
    }
    .header .menu {
        flex-direction: column;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    .header .menu .item {
        margin-bottom: 6px;
    }
    .header .logo {
		margin-bottom: 0;
	}
    .banner {
		padding-top: 92px;
		background-position-y: 80%;
        min-height: 480px;
        padding-bottom: 40px;
	}
    .banner .wrapper {
		position: relative;
		transform: none;
		top: 0;
		left: 0;
		padding: 0;
	}
    .banner-btn::before {
        display: none;
    }
    .lessons {
        padding: 40px 20px;
    }
    .advantages .title {
        margin-bottom: 120px;
    }
    .cards .item,
    .advantages .item,
    .teachers .cards .item {
        max-width: 100%;
    }
    .advantages.container {
        margin-bottom: 0;
    }
    .action .cols {
        flex-wrap: wrap;
    }
    .action .left,
    .action .right {
        width: 100%;
    }
    .action .left {
        order: 2;
    }
    .action .right {
        height: 300px;
    }
    .action .btn {
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
    }
    .about-us .cols {
        flex-direction: column;
    }
    .about-us .left,
    .about-us .right {
        width: 100%;
    }
    .about-us .left {
        margin-bottom: 40px
    }
    .about-us .right {
        padding-left: 0;
    }
    .about-us .slider .slick-prev {
        left: 15px;
    }
    .about-us .slider .slick-next {
        right: 15px;
    }
    /* .teachers .title {
        margin-bottom: 60px;
    } */
    .teachers.container {
        margin-bottom: 0;
    }
    .results .item {
        margin-bottom: 40px;
    }
    .form.form-guitar {
        padding: 40px 20px;
    }
    .form.form-guitar::before {
        display: none;
    }
    .form .content {
        margin-left: 0;
    }
    .about-schools .cards {
        margin-bottom: 0;
        flex-direction: column;
        justify-content: center;
    }
    .about-schools .item {
        margin: 0 auto 60px;
        width: 80%;
    }
    .about-schools .text-first {
        margin-bottom: 80px;
    }
    .footer .container > .logo {
        display: block;
        padding: 40px 0 0;
        margin: 0 auto;
    }
    .footer .menu {
        padding: 40px 0 20px;
    }
    .footer .menu .item {
		width: 33%;
	}
    .footer-middle .social {
        margin-bottom: 40px;
    }
    .footer-middle .logo {
        /* object-fit: contain;
        display: block;
        text-align: left;
        width: 200px;
        margin-bottom: 40px;
         */
        display: none;
    }
    .footer-middle .footer-contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .footer-bottom {
        flex-direction: column;
    }
    .footer .left,
    .footer .right {
        width: 100%;
        margin-bottom: 20px;

    }
}
@media (max-width: 600px) {
    .banner {
        background-position-y: 65%;
        background-size: 70%;
    }
    .popup {
        padding: 40px;
        width: 90%;
        min-width: 320px;
    }
    .popup::before {
        background-size: cover;
        right: -5%;
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    h1 {
        font-size: 48px;
    }
    .btn,
    .btn-small {
        width: 100%;
        padding: initial;
    }
    .banner {
		background-size: contain;
		background-repeat: no-repeat;
		background-position-y: 70%;
	}
    .banner .container {
		height: auto;
	}
    .banner .wrapper {
        width: 100%;
        text-align: center;
	}
    .banner .subtitle {
		font-size: 20px;
		margin-bottom: 350px;
	}
    h1 {
		font-size: 42px;
		margin-bottom: 20px;
	}
    h2 {
        font-size: 30px;
        line-height: 40px;
    }
    .cards {
        margin: 0;
    }
    .lessons .title {
        margin-bottom: 40px;
    }
    .price .item {
        margin-bottom: 40px;
    }
    .price.container {
        margin-bottom: 60px;
    }
    .action .title {
        margin-bottom: 40px;
    }
    .action .left {
        padding: 40px 20px;
    }
    .action .text {
        margin-bottom: 20px;
    }
    .action .btn {
        position: static;
        transform: none;
    }
    .about-us .slider .slide-wrapper {
        padding: 40px;
    }
    .about-us .slider .slick-prev {
        left: 5px;
    }
    .about-us .slider .slick-next {
        right: 5px;
    }
    .about-schools .item {
        width: 100%;
    }
    section,
    section.container,
    .teachers.container {
        margin-bottom: 60px;
    }
    .teachers .text-wrapper {
        padding: 20px;
    }
    .teachers .cards .item:last-of-type {
        margin-bottom: 0;
    }
    .footer .menu .item {
        width: 50%;
    }
    .footer-middle {
        flex-direction: column;
        align-items: center;
    }
    .footer .footer-middle .link {
        justify-content: center;
    }
    .footer .left {
        padding-right: 0;
    }
    .footer .copyright,
    .footer .text {
        opacity: .5;;
    }
    .footer .links {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
    }
    .footer .links a {
        margin-right: 0;
    }

}
@media (max-width: 425px) {
	.banner {
		background-position-y: 75%;
	}
    .footer .menu {
        flex-direction: column;
    }
    .footer .menu .item {
        width: 100%;
    }
}
@media (max-width: 360px) {
	.banner .subtitle {
		margin-bottom: 270px;
	}
}
/* extra small */
@media (max-width: 320px) {
    body,
    .header {
        min-width: 320px;
    }
    .footer-middle {
        align-items: flex-start;
    }
    .footer .footer-middle .link {
        justify-content: flex-start;
    }
    .footer .footer-middle .phone .link:last-child {
        padding-left: 35px;
    }
    .footer .links {
        justify-content: flex-start;
    }
    .footer .links a {
        margin-right: 12px;
    }

}


